/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    height: 100vh;
    
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
nav{
    width: 100%;
}

nav ul {
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 350px;
    top: 45px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background: lightgray;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
}

.login-btn {
    background: #FFD966;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
